{% extends "base.html" %}
{% block title %}Getting Started{% endblock %}
{% block container %}
<body>
<div style=" font-family: fantasy;">
    <div style="padding-top: 50px; padding-left: 50px; padding-right: 50px; padding-bottom: 20px;">
        <h1 style="text-align: center; font-family: fantasy;">
Helpful Links
</h1>
<h6>*Please Note That these links will take you offsite*</h6>
    </div>
<div style="padding-top: 50px; padding-left: 50px; padding-right: 50px;">
    <h3 style="text-align: center; font-family: fantasy;">
    Struggling to start? Take a look at some popular ideas for your character.
    </h3>
    <a href="https://www.escapistmagazine.com/dd-reveals-the-most-popular-races-classes-and-character-names/">Escapist Magazine Most Popular</a>
    <div></div>
    <a href="https://www.youtube.com/watch?v=SqkBc2GkGU0">Roll For Combat (Youtube)</a>
</div>

<div style="padding-top: 30px; padding-left: 50px; padding-right: 50px;">
<h3 style="text-align: center; font-family: fantasy;">
    New to Dungeons and Dragons? Click here to read more!
</h3>
    <a href="https://www.polygon.com/deals/21294556/dnd-how-to-play-dungeons-dragons-5e-guide-spells-dice-character-sheets-dm">Beginners Guide (Polygon)</a>
    <div></div>
    <a href="https://dnd.wizards.com/how-to-play">How to Play (Official Website)</a>
</div>
<div style="padding-top: 50px; padding-left: 50px; padding-right: 50px; padding-bottom: 50px;">
<h3 style="text-align: center; font-family: fantasy;">
    Want to start a custom rpg? Heres some ideas
</h3>
<a href="https://www.dicebreaker.com/categories/roleplaying-game/how-to/how-to-make-rpg" style="text-align: center; font-family: fantasy;">How to Make a TTRPG (DiceMaker)</a>
<div></div>
<a href="https://www.dicegeeks.com/35-rpg-campaign-ideas/" style="text-align: center; font-family: fantasy;">35 Campaign Ideas (Dice Geeks)</a>
</div>
</div>

<div>
    <h1 style="text-align: center; font-family: fantasy; background-color: rgb(230, 217, 176);">Quote of the Day: A different type of thought...</h1>
</div>
</body>
{% endblock %}

